<!--<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Sign up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-content>
<div id="header">
  <h1>Login</h1>
  <img src="assets//image/images2.jfif"/>
</div>

<form id="form" [formGroup]="form">
  <ion-item lines="none">
      <ion-label position=""><ion-icon name="mail-outline"></ion-icon></ion-label>
    <ion-input formControlName="email"  type="Email" placeholder="Email"></ion-input>
    </ion-item>

  <ion-item lines="none">
      <ion-label position=""><ion-icon name="lock-closed-outline"></ion-icon></ion-label>
    <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
    </ion-item>
    </form>
    <ion-button [disabled]="!form.valid" expand="block" (click)="connexion()" shape="round">Connexion</ion-button>
    <!-- <ion-button id="ion-button2" expand="block" routerLink="/inscription" shape="round">S'inscrire</ion-button> -->
    <span class="insc">Vous n'avez pas de compte?<strong><a routerLink="/inscription">s'inscrire</a></strong></span>

</ion-content>
